# =========================
# Server
# =========================
SERVER_PORT=8080
SERVER_HOST=0.0.0.0
SERVER_READ_TIMEOUT=10
SERVER_WRITE_TIMEOUT=10

# =========================
# PostgreSQL
# =========================
DB_HOST=postgres
DB_PORT=5432
DB_USER=api_gateway_user
DB_PASSWORD=api_gateway_pass
DB_NAME=watch_hrs
DB_SSL_MODE=disable

# =========================
# Redis
# =========================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# =========================
# Logger
# =========================
LOG_LEVEL=info
LOG_FORMAT=json
LOG_FILE=

# =========================
# Security
# =========================
SECRET_KEY=just-big-secret-key-asdsakmsmbmdlv